header{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    flex-direction: row;
    position: relative;
    width: 100%;
    margin: 10px;
    top: 0;
  }

.logo {
    max-width: 250px;
    height: auto;
    margin: 0;
    background: none;
    border: none;
    position: relative;
}



.home-btns {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 5%;
    padding: 50px 10px;
    margin-right: 5%;
    
}

.logout-button{
    background: linear-gradient( #B2E4F9, #89CFF0, #048fe6);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

