.main-div{
    padding: 10%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.login{
    background: linear-gradient( #B2E4F9, #89CFF0, #048fe6);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}