.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-content {
    background: white;
    padding: 20px;
    position: relative;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #f00;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.zoom-bar-container {
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.zoom-slider {
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
}

.zoomable-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    transition: transform 0.2s ease-in-out;
}

.tag {
    background-color: rgba(255, 0, 0, 0.7);
    padding: 2px 5px;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

.dropdown {
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.tag-label {
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    color: red;
    z-index: 15;
}

.scoreboard {
    margin: 20px auto;
    border-collapse: collapse;
    width: 90%;
    text-align: center;
}

.scoreboard th, .scoreboard td {
    border: 1px solid #ddd;
    padding: 8px;
}

.scoreboard th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.highlight {
    background-color: #f4f4f4; /* Adjust the color to fit your design */
    font-weight: bold;
  }

  .highlight td {
    color: #007bff; /* Change this to any color you want */
  }
